name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_TERM_VERBOSE: true
  RUSTDOCFLAGS: -Dwarnings
  DUCKDB_VERSION: "1.4.2"
  DUCKDB_LIB_DIR: /opt/duckdb
  LD_LIBRARY_PATH: /opt/duckdb

jobs:
  test-core:
    name: Test stac
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test -p stac --all-features
  check-features-core:
    name: Check all features
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: crates/core
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Install check-all-features
        run: cargo install cargo-all-features
      - name: Check
        run: cargo check-all-features
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - uses: astral-sh/setup-uv@v7
      - &get-duckdb
        name: Get DuckDB
        run: |
          wget https://github.com/duckdb/duckdb/releases/download/v${{ env.DUCKDB_VERSION }}/libduckdb-linux-amd64.zip
          unzip libduckdb-linux-amd64.zip -d /opt/duckdb
          rm libduckdb-linux-amd64.zip
      - uses: j178/prek-action@v1
      - name: Test
        run: cargo test
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - uses: astral-sh/setup-uv@v7
      - *get-duckdb
      - name: Validate stac-server
        run: uv run --group stac-api-validator scripts/validate-stac-server
      - name: Validate stac-geoparquet
        run: uv run --group stac-geoparquet scripts/validate-stac-geoparquet
  test-pgstac:
    name: Test pgstac
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pgstac_version:
          - v0.8.6
          - v0.9.8
    services:
      pgstac:
        image: ghcr.io/stac-utils/pgstac:${{ matrix.pgstac_version }}
        env:
          POSTGRES_USER: username
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgis
          PGUSER: username
          PGPASSWORD: password
          PGDATABASE: postgis
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - uses: astral-sh/setup-uv@v7
      - *get-duckdb
      - name: Test
        run: cargo test -p pgstac --all-features
      - name: Validate
        run: uv run --group stac-api-validator scripts/validate-stac-server --pgstac
      - name: Search
        run: cargo run -F pgstac search postgresql://username:password@localhost:5432/postgis
  test-wasm:
    name: Test stac-wasm
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: crates/wasm
    env:
      YARN_ENABLE_HARDENED_MODE: 0
    steps:
      - uses: actions/checkout@v6
      - uses: cargo-bins/cargo-binstall@main
      - name: Install wasm-pack
        run: cargo binstall wasm-pack --no-confirm
      - uses: Swatinem/rust-cache@v2
      - name: Build wasm
        run: wasm-pack build
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install yarn
        run: corepack enable && corepack prepare yarn@stable --activate
      - name: Install dependencies
        run: yarn install
      - name: Install playwright browsers
        run: yarn playwright install --with-deps chromium
      - name: Run tests
        run: yarn test
  check-nightly:
    name: Check (nightly)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v2
      - name: Check
        run: cargo check --workspace
  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@cargo-hack
      - name: Check msrv
        run: cargo hack check --rust-version --workspace --all-targets --ignore-private
  doc:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - uses: DavidAnson/markdownlint-cli2-action@v22
      - name: Doc
        run: cargo doc --workspace --no-deps
