name: Release npm

on:
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    if: startsWith(github.event.release.name, 'stac-wasm-v')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: crates/wasm
    environment:
      name: npm
      url: https://www.npmjs.com/package/stac-wasm
    steps:
      - uses: actions/checkout@v6
      - uses: cargo-bins/cargo-binstall@main
      - name: Install wasm-pack
        run: cargo binstall wasm-pack --no-confirm
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build wasm
        run: wasm-pack build
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Publish to npm
        run: npm publish ./pkg --provenance --access public
